<br>
<div class="container">
  <div class="flash text-center"><%= flash[:customer_information_update] %></div>
  <div class="row">
    <h4 class="px-2 bg-light font-weight-bold">マイページ</h4>
  </div>
  <div class="row">
    <div class="m-2 font-weight-bold">登録情報　<%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></div>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td style="width: 25%" class="table-active">氏名</td>
      <td><%= @customer.last_name + "　" + @customer.first_name %></td>
    </tr>
    <tr>
      <td class="table-active">カナ</td>
      <td><%= @customer.last_name_reading + "　" + @customer.first_name_reading %></td>
    </tr>
    <tr>
      <td class="table-active">郵便番号</td>
      <td><%= @customer.post_code %></td>
    </tr>
    <tr>
      <td class="table-active">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td class="table-active">電話番号</td>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td class="font-weight-bold">配送先　</td>
      <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-info" %></td>
    </tr>
    <tr>
      <td class="font-weight-bold">注文履歴　</td>
      <td><%= link_to "一覧を見る", orders_path, class: "btn btn-info" %></td>
    </tr>
  </tbody>
</table>

  </div>
</div>

<script>
  $(function() {
    setTimeout("$('.flash').fadeOut('slow')", 2000);
  });
</script>