<h4>マイページ</h4>

<h4>登録情報 <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success" %></h4>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name + "　" + @customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_reading + "　" + @customer.first_name_reading %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.post_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <td>配送先</td>
      <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-info" %></td>
    </tr>
    <tr>
      <td>注文履歴</td>
      <td><%= link_to "一覧を見る", orders_path, class: "btn btn-info" %></td>
    </tr>
  </tbody>
</table>