<form>
  <%= form_with model:Item, local: true do |f| %>
    <div>
      <a>商品画像</a>
      <%= f.file_field :item_image %>
    </div>
    <div>
      <a>商品名</a>
      <%= f.text_field :name %>
    </div>
    <div>
      <a>商品説明</a>
      <%= f.text_area :explanation %>
    </div>
    <div>
      <a>ジャンル</a>
      <%= f.text_field :genre_id %>
    </div>
    <div>
      <a>税抜き価格</a>
      <%= f.text_field :name %>
    </div>
    <div>
      <a>販売ステータス</a>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "新規登録",
  <% end %>
</form>