<div class= "container">
  <div class="row mt-5">
    <h4 class="col-4 text-center bg-light">商品一覧</h4>
    <div class="col-1 offset-7">
    <%= link_to new_admin_item_path do %>
      <i class="fa-regular fa-square-plus fa-2xl" style="color: #000000;"></i>
    <% end %>
    </div>
  </div>

  <br>
  <table class="table">
    <thead>
      <tr class="bg-light">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><u><%=link_to item.name, admin_item_path(item), class: "text-dark" %></u></td>
          <td><%= number_to_currency(item.price, precision: 0, unit: "") %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active %><div class="text-success font-weight-bold">販売中</div>
            <% else %><div class="text-secondary font-weight-bold">販売停止中</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="col-2 offset-5 mt-5"><%= paginate @items, theme: 'bootstrap-5' %></div>

</div>
