<div class="container">
  <h4 class="col-lg-3 text-center bg-light mt-4">商品詳細</h1>

  <div class="row mt-5">
    <div class="col-lg-3">
      <%= image_tag @item.get_item_image, size:'200x200' %>
    </div>
    <div class="col-8">
      <div class="row mt-3 mt-lg-2">
        <p class="col-lg-3">商品名</p>
        <h5 class="col-lg-9"><%= @item.name %></h5>
      </div>
      <div class="row mt-3 mt-lg-2">
        <p class="col-lg-3">商品説明</p>
        <h5 class="col-lg-9"><%= @item.explanation %></h5>
      </div>
      <div class="row mt-3 mt-lg-2">
        <p class="col-lg-3">ジャンル</p>
        <h5 class="col-lg-9"><%= Genre.find(@item.genre_id).name %></h5>
      </div>
      <div class="row mt-3 mt-lg-2">
        <p class="col-lg-3">税込み価格<br>（税抜価格）</p>
        <h5 class="col-lg-9 mt-2">
          <%= number_to_currency(@item.price, format: "%n%u", unit: "", precision: 0) %>
          （<%= number_to_currency(@item.with_tax_price, format: "%n%u", unit: "", precision: 0) %>）円
        </h5>
      </div>
      <div class="row mt-3 mt-lg-2">
        <p class="col-lg-3">販売ステータス</p>
        <h5 class="col-lg-9">
          <% if @item.is_active %><b class="text-success">販売中</b>
          <% else %><b class="text-secondary">販売中止</b>
          <% end %>
        </h5>
      </div>
      <div class="row mt-4 text-center">
        <div class="col-auto offset-lg-2">
          <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>