<div class="container">
  <div class="center">
    <div class="text-center rounded-pill mt-5", style="background-color:#DFD8C8;">
      ようこそ、ながのCAKEへ!!</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
  </div>
  <h3 class="text-center mt-5 mb-5">新着商品</h3>

  <div class="row mt-5 justify-content-center">
    <% @items.first(4).each do |sweet| %>
       <div class="col-md-3 mb-4">
         <div class="text-center">
          <%= link_to item_path(sweet.id) do %>
            <%= image_tag sweet.get_item_image, size:'200x200' %>
          <% end %>
        </div>
        <div><%= sweet.name %></div>
        <% if sweet.is_active == true %>
          <div>¥<%= sweet.price %></div>
        <% else %>
          <div>販売停止中</div>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="col-md-3 mb-4 ml-auto">
      <%= link_to "全ての商品を見る >", items_path %>
    </div>
  </div>


</div>
