<% if current_page?("/admin/customers/#{customer.id}/edit") == true %>
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td>会員ID</td>
        <td><%= customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_reading %></td>
        <td><%= f.text_field :first_name_reading %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :post_code %></td>
        <td></td>
      </tr>
      <tr>
        <td>住所</td>
        <td colspan="2"><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= f.text_field :phone_number %></td>
        <td></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email %></td>
        <td></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td><%= f.radio_button :is_deleted, "false" %> <%= f.label :is_deleted_false, "有効" %>
            <%= f.radio_button :is_deleted, "true" %> <%= f.label :is_deleted_true, "退会" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% end %>
<% else %>
  <%= form_with model: @customer, url: customers_information_edit_path, method: :patch do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td>氏名</td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= f.text_field :last_name_reading %></td>
        <td><%= f.text_field :first_name_reading %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :post_code %></td>
        <td></td>
      </tr>
      <tr>
        <td>住所</td>
        <td colspan="2"><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= f.text_field :phone_number %></td>
        <td></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.email_field :email %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% end %>
<% end %>