<div class="container">
  <div class="row">
    <h2 class="mt-5 mb-5">注文確認画面</h2>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-8">
      <p class="font-weight-bold">注文情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="table-active text-center ">注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="table-active text-center ">配送先</th>
          <td><%= "〒#{@order.post_code.to_s.insert(3, "-")}" %><br>
          <%= @order.address %><br>
          <%= @order.name %></td>
        </tr>
        <tr>
          <th class="table-active text-center ">支払い方法</th>
          <td><%= @order.payment_option_i18n %></td>
        </tr>
        <tr>
          <th class="table-active text-center ">ステータス</th>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 px-3 offset-1">
      <p class="font-weight-bold">請求情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="text-center table-active">商品合計</th>
          <td class="text-right" ><%= (@order.total_price - 800).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="text-center table-active">送料</th>
          <td class="text-right">800円</td>
        </tr>
        <tr>
          <th class="text-center table-active">請求合計</th>
          <td class="text-right"><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-8">
      <p class="font-weight-bold">注文内容</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-active text-center col-sm-6 col-md-6 col-lg-6">商品</th>
            <th class="table-active text-center col-sm-2 col-md-2 col-lg-2">単価(税込み)</th>
            <th class="table-active text-center col-sm-1 col-md-1 col-lg-1">個数</th>
            <th class="table-active text-center col-sm-2 col-md-2 col-lg-2">小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order.order_items.each do |order_show| %>
          <tr>
            <td class="text-center" style="word-break:break-all"><%= order_show.item.name %></td>
            <td class="text-right"><%= order_show.price.to_s(:delimited) %>円</td>
            <td class="text-center"><%= order_show.quantity %></td>
            <td class="text-right"><%= (order_show.quantity * order_show.price).to_s(:delimited) %>円</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>