<%= render "search_genre", genre: @genre %>
<div class="container">
 <br>

 <h3>商品一覧 全<%= @items.where(is_active:true).count %>件<h3>

  <br>
  <div class="row">

<% @items.each do |item| %>
<% if item.is_active %>
<div class="col-lg-3">
<%= link_to item_path(item) do %>
<%= image_tag item.get_item_image, size:'200x150' %>
<% end %>
<br>
<%= item.name %>
<br>
¥<%= (item.price*1.1).floor.to_s(:delimited)%>
<br>
</div>
<% end %>
<% end %>
</div>
</div>