<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c4a984c717.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/header' %>
    <%= yield %>
    <footer style="background-color:#DFD8C8;">
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>team-m-muscle.inc</p>
    	</div>
    </div>
  </div>
  </body>
</html>
